.content-fill {
  flex: 1;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
  color: #CCC;
  opacity: 0;
  display: inline-block;
}

.prompt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;

  .prompt-tint {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
  }
}

// Work Project
.work-project {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 30px;

  .main {
    border-top-right-radius: 30px;
    padding: 60px 40px 60px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .view-button {
      padding: 20px;
      border: 0px;
      margin-left: auto;
      cursor: pointer;
      color: #263238;
      border-radius: 3px;
    }

    .content {
      display: flex;
      width: 100%;
      height: 80%;
      margin: auto;
      color: white;
      padding: 40px;

      .info {
        h1 {
          margin-bottom: 10px;
        }

        p {
          font-weight: 300;
        }
      }
    }
  }

  .footer {
    background-color: white;
    padding: 40px;
    display: flex;

    .img-container {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

// Contact Card
.contact-card {
  z-index: 2;
  border: 3px solid white;
  height: 600px;
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  .contact-card-LHS {
    background-color: #FFCC67;
    flex: 5;
    display: flex;
    flex-direction: column;

    .avatar {
      width: 80%;
      margin: auto;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .contact-card-RHS {
    padding: 40px;
    background-color: white;
    flex: 6;
    display: flex;
    flex-direction: column;

    .contact-header {
      h4 {
        text-align: right;
        color: #FFCC67;
      }
    }

    .contact-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content-main-content {
        h1 {
        }
  
        h2 {
          color: #FFCC67;
        }
      }
    }

    .contact-footer {
      display: flex;

      .img-container {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 15px;
        display: flex;
        flex-direction: column;

        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

// Project Showcase
.project-showcase {
  border-radius: 10px;
  z-index: 2;
  width: 80%;
  height: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  text-align: center;

  .img-container {
    margin: auto;
    flex: 1;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      max-width: 100%;
      display: block;
    }
  }

  .carousel {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    .arrow {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: 10px solid #ddd;
      background-color: #ddd;
      border-radius: 5px;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

// cv
.cv {
  height: 80%;
  position: absolute;
  background-color: white;
  top: 50%;;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.sun {
  pointer-events: none;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  left: -300px;
  top: -300px;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.moon {
  pointer-events: none;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  left: -300px;
  top: -300px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.star {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 400px;
  top: 100px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.cloud {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 500px;
  top: 260px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.logo-container {
  position: relative;
  left: -200px;

  .App-logo {
  
  }
}


// header
.App-header {
  width: 100vw;
  padding: 20px;
  position: fixed;
  z-index: 1;
}

.logo {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

h2 {
  margin-top: 10px;
}

// footer
.hover-text {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #FCE666;
}

.filler {
  flex: 2;
}

.App-footer-shadow {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  height: 80px;
  display: flex;
  z-index: 1;

  .shadow-content {
    height: 100px;
    flex: 8;
    padding: 40px 0;
  }
}

.App-footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  display: flex;
  z-index: 2;

  .content {
    flex: 8;
    padding: 40px 0;

    .content-items {
      display: flex;
      justify-content: center;

      .content-item {
        width: 40px;
        height: 40px;
        margin: 0 20px;
        transition: transform 0.1s;

        &:hover {
          transform: translateY(-10px);
        }

        .icon {
          max-width: 100%;
          max-height: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

.navigation {
  z-index: 1;
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);

  .navigation-item-container {
    position: relative;

    .nav-info {
      display: flex;
      opacity: 0;
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      color: white;

      padding: 15px 50px 15px 20px;
      width: 200px;

      h5 {
        margin: auto;
      }

      .img-container {
        width: 40px;
        height: 40px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .navigation-item {
      width: 20px;
      height: 20px;
      margin: 50px 0;
      border-radius: 100%;
      transition: background-color 1s ease;
      cursor: pointer;
    }
  }
}

// home
.home-content {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .hello {
      margin-bottom: 10px;
    }

    .name-container {
      position: relative;
      left: 200px;
    }
  
    .name {
      text-shadow: 2px 2px #ff0000;
    }
  
    .description {
      color: #FF5850;
      text-shadow: 2px 2px #000;
    }

    .sub-description {
      position: relative;
      bottom: -200px;
    }
  
    .sub-description-1 {
      margin-top: 40px;
    }

    .sub-description-2 {
      margin-top: 40px;
    }
  }
}

// Skills
.skills-container {
  min-height: 100%;
  padding: 100px 0px;
  overflow: hidden;
}

.skills-content-container {
  opacity: 0;
  position: relative;
  right: -200px;
  overflow: auto;
  margin-bottom: 40px;
}

.skills-content {
  width: 70%;
  margin: auto;

  .skills-item {
    padding: 30px;
    margin: 40px;
    float: left;
    border-right: 6px solid #ccc;
    border-bottom: 6px solid #ccc;

    h4 {
      color: #CCC;
    }

    .img-container {
      width: 100%;
      height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    h4 {
      margin-top: 50px;
      text-align: center;
    }
  }
}

// Projects
.projects-container {
  overflow: hidden;
  min-height: 100%;
  padding: 100px 0;

  .project-items-container {
    opacity: 0;
    position: relative;
    left: -200px;
    width: 70%;
    margin: auto;

    .project {
      margin-bottom: 100px;
      width: 100%;
      background-color: #ddd;
      border-radius: 10px;

      .project-LHS {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;

        h6 {
          color: mediumaquamarine;
        }

        .git {
          margin-top: 5px;
          color: mediumaquamarine;
          cursor: pointer;
          transition: 100ms ease-in;

          &:hover {
            color: white;
          }
        }

        .stack {
          color: mediumaquamarine;
        }

        .project-logo-container {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 40px 0;

          .img-container {
            background-color: transparent;
            margin: auto;
    
              img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
              }
          }
        }
      }

      .project-RHS {
        position: relative;
      }

      .project-info {
        display: flex;
        flex-direction: column;
        padding: 40px;
        min-height: 500px;

        .project-name {
          margin-bottom: 40px;
        }
  
        .project-description {
          color: #ccc;
          margin-bottom: 20px;
          flex: 1;
        }

        .project-button {
          margin-bottom: 10px;
          width: 100%;
          padding: 20px;
          border-radius: 30px;
          cursor: pointer;
          border: 0px;
          background-color: aquamarine;
          color: white;
          transition: background-color 500ms;

          &:hover {
            background-color:mediumaquamarine;
          }

          h3 {
            color: white;
          }
        }
      }
    }
  }
}

// ----- animations ------
.animate-in-left-to-right {
  animation: animate-in-left-to-right 1s ease forwards;
};

@keyframes animate-in-left-to-right {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateX(200px);
    opacity: 1;
  }
}

.animate-in-right-to-left {
  animation: animate-in-right-to-left 1s ease forwards;
}

@keyframes animate-in-right-to-left {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 1;
  }
}

.animate-out-left-to-right {
  animation: animate-out-left-to-right 1s ease forwards;
}

@keyframes animate-out-left-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}


.animate-out-right-to-left {
  animation: animate-out-right-to-left 1s ease forwards;
}

@keyframes animate-out-right-to-left {
  0% {
    transform: translateX(200px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.animate-in-bottom-to-top-footer {
  animation: animate-in-bottom-to-top-footer ease forwards;
  animation-duration: 300ms;
}

@keyframes animate-in-bottom-to-top-footer {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-60px);
    opacity: 1;
  }
}

.animate-out-top-to-bottom-footer {
  animation: animate-out-top-to-bottom-footer ease forwards;
  animation-duration: 300ms;
}

@keyframes animate-out-top-to-bottom-footer {
  0% {
    transform: translateY(-60px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.animate-in-bottom-to-top {
  animation: animate-in-bottom-to-top 1s ease forwards;
}

@keyframes animate-in-bottom-to-top {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-200px);
    opacity: 1;
  }
}

.animate-out-top-to-bottom {
  animation: animate-out-top-to-bottom 1s ease forwards;
}

@keyframes animate-out-top-to-bottom {
  0% {
    transform: translateY(-200px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.animate-fade-in {
  animation: animate-fade-in 500ms ease forwards;
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-out {
  animation: animate-fade-out 500ms ease forwards;
}

@keyframes animate-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// header animations
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Responsive
@media only screen and (max-width: 1024px) {
  .section-title, .navigation, .logo-container {
    display: none;
  }

  .cv {
    width: 90%;
  }

  .contact-card {
    width: 90%;

    .contact-card-RHS {
      .contact-main {
        h1 {
          font-size: 35px;
        }
  
        h2 {
          font-size: 25px;
        }
      }
    }
  }

  .home-content {
    .hello {
      font-size: 20px;
    }

    .name {
      font-size: 60px;
    }

    .description {
      font-size: 30px;
    }

    .sub-description {
      margin-top: 30px;
    }

    .sub-description-1 {
      font-size: 20px;
    }

    .sub-description-2 {
      font-size: 15px;
    }
  }

  .skills-container {
    .skills-content {
      width: 70%;
      
      .skills-item {
        width: 100px;
        height: 100px;
      }
    }
  }
  
  .projects-container {
    .project {
      display: block;

      .project-LHS {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
  
        .project-logo-container {
          .img-container {
            width: 100px;
            height: 100px;
          }
        }
      }
  
      .project-RHS {
        width: 100%;
        min-height: 500px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .section-title, .navigation, .logo-container {
    display: block;
  }

  .cv {
    width: 750px;
  }

  .contact-card {
    width: 800px;

    .contact-card-RHS {
      .contact-main {
        h1 {
          font-size: 50px;
        }
  
        h2 {
          font-size: 30px;
        }
      }
    }
  }

  .home-content {
    .hello {
      font-size: 25px;
    }

    .name {
      font-size: 100px;
    }

    .description {
      font-size: 60px;
    }

    .sub-description {
      margin-top: 60px;
    }

    .sub-description-1 {
      font-size: 30px;
    }

    .sub-description-2 {
      font-size: 20px;
    }
  }

  .skills-container {
    .skills-content {
      width: 70%;
      .skills-item {
        width: 140px;
        height: 140px;
      }
    }
  }

  .projects-container {
    .project {
      display: flex;
      min-height: 500px;

      .project-LHS {
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .project-logo-container {
          .img-container {
            width: 150px;
            height: 150px;
          }
        }
      }
  
      .project-RHS {
        width: 50%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}