.section-title {
  margin-bottom: 60px;
  color: #CCC;
  opacity: 0;
  display: inline-block;
}

.prompt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: transparent;
  z-index: 3;

  .prompt-tint {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
  }
}

// Work Project
.work-project {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 100px 30px #ddd;
  border-top-right-radius: 30px;
  border: 3px solid white;

  .content-fill {
    flex: 1;
  }

  .main {
    border-top-right-radius: 30px;
    padding: 60px 40px 60px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .view-button {
      padding: 20px;
      border: 0px;
      margin-left: auto;
      cursor: pointer;
      color: #263238;
      background-color: white;
      border-radius: 3px;
    }

    .content {
      display: flex;
      width: 100%;
      height: 80%;
      margin: auto;

      .content-LHS {
        position: relative;
        left: -240px;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .img-container {
          width: 60%;
          height: 60%;
          margin: auto;
          display: flex;
          flex-direction: column;

          img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
          }
        }
      }

      .content-RHS {
        position: relative;
        right: -200px;
        color: white;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .info {
          h1 {
            margin-bottom: 10px;
          }
  
          p {
            font-weight: 300;
          }
        }
      }
    }
  }

  .footer {
    background-color: white;
    padding: 40px;
    display: flex;

    .img-container {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

// Contact Card
.contact-card {
  z-index: 2;
  border: 3px solid white;
  height: 600px;
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 0 100px 30px #ddd;

  .contact-card-LHS {
    background-color: #FFCC67;
    flex: 5;
    display: flex;
    flex-direction: column;

    .avatar {
      width: 80%;
      margin: auto;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .contact-card-RHS {
    padding: 40px;
    background-color: white;
    flex: 6;
    display: flex;
    flex-direction: column;

    .contact-header {
      h4 {
        text-align: right;
        color: #FFCC67;
      }
    }

    .contact-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content-main-content {
        h1 {
        }
  
        h2 {
          color: #FFCC67;
        }
      }
    }

    .contact-footer {
      display: flex;

      .content-fill {
        flex: 1;
      }

      .img-container {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 15px;
        display: flex;
        flex-direction: column;

        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

// Project Showcase
.project-showcase {
  border-radius: 10px;
  z-index: 2;
  width: 80%;
  height: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  text-align: center;

  .img-container {
    margin: auto;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 0 30px 10px #ddd;

    img {
      object-fit: cover;
      height: 100%;
      max-width: 100%;
      display: block;
    }
  }

  .carousel {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    .content-fill {
      flex: 1;
    }

    .arrow {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: 10px solid #ddd;
      background-color: #ddd;
      border-radius: 5px;
      box-shadow: 0 0 30px 10px #ddd;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

// cv
.cv {
  height: 80%;
  position: absolute;
  background-color: white;
  top: 50%;;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.sun {
  pointer-events: none;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  left: -300px;
  top: -300px;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.moon {
  pointer-events: none;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  left: -300px;
  top: -300px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.star {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 400px;
  top: 100px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.cloud {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 500px;
  top: 260px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.logo-container {
  position: relative;
  left: -200px;

  .App-logo {
  
  }
}


// header
.App-header {
  width: 100vw;
  background-color: transparent;
  padding: 50px;
  position: fixed;
}

.logo {
  margin-top: 80px;
  width: 60px;
  height: 60px;
}

.light-dark-mode {
  position: fixed;
  right: 0px; 
  top: 100px;
  cursor: pointer;
  z-index: 1;
  background-color: #eee;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transition: background-color 1s ease;

  img {
    width: 40px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// footer
.hover-text {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #FCE666;
}

.filler {
  flex: 2;
}

.App-footer-shadow {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  height: 80px;
  display: flex;
  z-index: 1;

  .shadow-content {
    height: 100px;
    flex: 8;
    padding: 40px 0;
  }
}

.App-footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  display: flex;
  z-index: 2;

  .content {
    flex: 8;
    padding: 40px 0;

    .content-items {
      display: flex;
      justify-content: center;

      .content-item {
        width: 40px;
        height: 40px;
        margin: 0 20px;
        transition: transform 0.1s;

        &:hover {
          transform: translateY(-10px);
        }

        .icon {
          max-width: 100%;
          max-height: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

.navigation {
  z-index: 3;
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);

  .navigation-item-container {
    position: relative;

    .nav-info {
      display: flex;
      border: 2px solid white;
      opacity: 0;
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      color: white;

      padding: 15px 50px 15px 20px;
      width: 200px;

      h5 {
        margin: auto;
      }

      .img-container {
        width: 40px;
        height: 40px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .navigation-item {
      width: 20px;
      height: 20px;
      margin: 50px 0;
      border-radius: 100%;
      transition: background-color 1s ease;
      cursor: pointer;
    }
  }
}

// home
.home-content {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .hello {
      margin-bottom: 10px;
      text-shadow: 2px 2px #FFF;
    }

    .name-container {
      position: relative;
      left: 200px;
    }
  
    .name {
      text-shadow: 2px 2px #ff0000;
    }
  
    .description {
      color: #FF5850;
      text-shadow: 2px 2px #000;
    }

    .sub-description {
      position: relative;
      bottom: -200px;
    }
  
    .sub-description-1 {
      margin-top: 40px;
    }

    .sub-description-2 {
      margin-top: 40px;
    }
  }
}

// Skills
.skills-container {
  min-height: 100%;
  padding: 500px 0px;
  overflow: hidden;

  .skills-content-container {
    opacity: 0;
    position: relative;
    right: -200px;
    overflow: auto;
  }

  .skills-content {
    width: 70%;
    margin: auto;

    .skills-item {
      box-shadow: 15px 15px 0 3px #ddd;
      padding: 30px;
      margin: 40px;
      float: left;
      border-right: 4px solid #ccc;
      border-bottom: 4px solid #ccc;

      .img-container {
        width: 100%;
        height: 100%;

        img {
          max-width: 100%;
          max-height: 100%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

    }
  }
}

// Work
.work-container {
  overflow: hidden;
  min-height: 100%;
  padding: 300px 0px;

  .work-item-container {
    opacity: 0;
    margin: auto;
    position: relative;
    right: -200px;

    .work-item-outter {
      float: left;
      height: 600px;
      padding: 60px;

      .work-item {
        width: 100%;
        height: 100%;
        background-color: #EEEEEE;
        border-top-right-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 30px 30px #ddd;
        cursor: pointer;

        .work-item-content {
          border-top-right-radius: 20px;
          flex: 1;

          .content {
            width: 50%;
            height: 200px;
            background-color: white;
            left: -30px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;

            .img-container {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              width: 80%;
              margin: auto;
  
              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .work-item-name {
          padding: 20px;

          h3, p {
            text-align: right;
            color: white;
          }
        }

        .work-item-footer {
          padding: 30px;
          background-color: #fff;

          .tech-stack {
            display: flex;

            .content-fill {
              flex: 1;
            }

            .img-container {
              width: 30px;
              height: 30px;
              margin: 0 10px;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// Projects
.projects-container {
  overflow: hidden;
  min-height: 100%;
  padding: 300px 0;

  .project-items-container {
    opacity: 0;
    position: relative;
    right: -200px;
    width: 70%;
    margin: auto;

    .project {
      margin-bottom: 100px;
      width: 100%;
      background-color: #ddd;
      border-radius: 10px;
      box-shadow: 40px 40px 0 10px #ddd;

      .project-LHS {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;

        .content-fill {
          flex: 1;
        }

        .git {
          cursor: pointer;
          width: 30px;
          height: 30px;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .project-RHS {
        position: relative;
      }

      .img-container {
        width: 150px;
        height: 150px;
        background-color: aquamarine;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .project-info {
        display: flex;
        flex-direction: column;
        padding: 40px;
        height: 100%;

        .project-name {
          margin-bottom: 40px;
        }
  
        .project-description {
          color: #ccc;
          margin-bottom: 20px;
          flex: 1;
        }
  
        .project-button {
          padding: 20px;
          border-radius: 30px;
          cursor: pointer;
          border: 0px;
          background-color: aquamarine;
          color: white;
          box-shadow: 0 0 40px 10px #eee;

          h3 {
            color: white;
          }
        }

        .content-fill {
          flex: 1;
        }

        .tech-stack {
          display: flex;

          .stack {
            margin: 0 15px;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;

            img {
              max-height: 100%;
              max-width: 100%;
              margin: auto;
            }
          }
        }
      }
    }
  }
}


// ----- animations ------
.animate-in-left-to-right {
  animation: animate-in-left-to-right 1s ease forwards;
};

@keyframes animate-in-left-to-right {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateX(200px);
    opacity: 1;
  }
}

.animate-in-right-to-left {
  animation: animate-in-right-to-left 1s ease forwards;
}

@keyframes animate-in-right-to-left {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 1;
  }
}

.animate-out-left-to-right {
  animation: animate-out-left-to-right 1s ease forwards;
}

@keyframes animate-out-left-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}


.animate-out-right-to-left {
  animation: animate-out-right-to-left 1s ease forwards;
}

@keyframes animate-out-right-to-left {
  0% {
    transform: translateX(200px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.animate-in-bottom-to-top-footer {
  animation: animate-in-bottom-to-top-footer ease forwards;
  animation-duration: 300ms;
}

@keyframes animate-in-bottom-to-top-footer {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-60px);
    opacity: 1;
  }
}

.animate-out-top-to-bottom-footer {
  animation: animate-out-top-to-bottom-footer ease forwards;
  animation-duration: 300ms;
}

@keyframes animate-out-top-to-bottom-footer {
  0% {
    transform: translateY(-60px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.animate-in-bottom-to-top {
  animation: animate-in-bottom-to-top 1s ease forwards;
}

@keyframes animate-in-bottom-to-top {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-200px);
    opacity: 1;
  }
}

.animate-out-top-to-bottom {
  animation: animate-out-top-to-bottom 1s ease forwards;
}

@keyframes animate-out-top-to-bottom {
  0% {
    transform: translateY(-200px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.animate-fade-in {
  animation: animate-fade-in 500ms ease forwards;
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-out {
  animation: animate-fade-out 500ms ease forwards;
}

@keyframes animate-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// header animations
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Responsive
@media only screen and (max-width: 800px) {
  .section-title, .navigation, .logo-container {
    display: none;
  }

  .cv {
    width: 90%;
  }

  .light-dark-mode {
    width: 60px;
    height: 60px;
  }

  .work-project {
    width: 90%;
  }

  .contact-card {
    width: 90%;

    .contact-card-RHS {
      .contact-main {
        h1 {
          font-size: 35px;
        }
  
        h2 {
          font-size: 25px;
        }
      }
    }
  }

  .home-content {
    .hello {
      font-size: 20px;
    }

    .name {
      font-size: 60px;
    }

    .description {
      font-size: 30px;
    }

    .sub-description {
      margin-top: 30px;
    }

    .sub-description-1 {
      font-size: 20px;
    }

    .sub-description-2 {
      font-size: 15px;
    }
  }

  .skills-container {
    .skills-content {
      width: 90%;
      
      .skills-item {
        width: 100px;
        height: 100px;
      }
    }
  }

  .work-container {
    .work-item-container {
      width: 90%;

      .work-item-outter {
        width: 100%;
      }
    }
  }
  
  .projects-container {
    .project {
      display: block;
      height: auto;

      .project-LHS {
        width: 100%;
        height: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
  
      .project-RHS {
        width: 100%;
        height: 500px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

@media only screen and (min-width: 801px) {
  .section-title, .navigation, .logo-container {
    display: block;
  }

  .cv {
    width: 750px;
  }

  .light-dark-mode {
    width: 80px;
    height: 80px;
  }

  .work-project {
    width: 750px;
  }

  .contact-card {
    width: 800px;

    .contact-card-RHS {
      .contact-main {
        h1 {
          font-size: 50px;
        }
  
        h2 {
          font-size: 30px;
        }
      }
    }
  }

  .home-content {
    .hello {
      font-size: 25px;
    }

    .name {
      font-size: 100px;
    }

    .description {
      font-size: 60px;
    }

    .sub-description {
      margin-top: 60px;
    }

    .sub-description-1 {
      font-size: 30px;
    }

    .sub-description-2 {
      font-size: 20px;
    }
  }

  .skills-container {
    .skills-content {
      width: 70%;
      .skills-item {
        width: 140px;
        height: 140px;
      }
    }
  }

  .work-container {
    .work-item-container {
      width: 70%;

      .work-item-outter {
        width: 50%;
      }
    }
  }

  .projects-container {
    .project {
      display: flex;
      height: 500px;

      .project-LHS {
        width: 50%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
  
      .project-RHS {
        width: 50%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}